<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/hector_cam0.yaml"/>
  <!-- <param name="camera1_config" value="$(find rovio)/cfg/euroc_cam1.yaml"/> -->
  <remap from="/cam0/image_raw" to="/downward_cam/camera/image" />
  <!-- <remap from="/cam1/image_raw" to="/downward_cam/camera/image" /> -->
  <remap from="/imu0" to="/raw_imu" />
  <!-- <remap from="/pose" to="/ground_truth_to_tf/pose" /> -->
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rovio)/rviz_cfg/rovio.rviz" />
</launch>
